@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colores */
  --primary-pink: #FF66C4;
  --primary-blue: #37B6FF;
  --primary-purple: #8C53FF;
  --background-light: #F7FAFC;
  --background-dark: #08121F;

  /* Tipografías */
  --font-primary: 'League Spartan', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--background-light);
  color: var(--background-dark);
}
